<div class="about row">
    <div class="col-md-12">
       <h2>About me </h2>
        
       <h2>
         Note
       </h2>
		
		<h2>Contact</h2>

        <p><strong>Personal</strong></p>
        <ul>
            <li>Email：<a href="mailto:{{ site.email }}" target="_top">{{ site.email }}</a></li>
            <li>Website：<a href="{{ site.github_url }}">{{ site.github_url }}</a></li>
            <li>Cnblogs：<a href="{{ site.cnblog_url }}">{{ site.cnblog_url }}</a></li>
            <li>我的微信：<strong>108day</strong></li>
        </ul>
     
       <p>本站所有文章和源码均免费开放，如果引用到您的文章或者代码而没有注明出处的，请联系我，我会尽快改正！
       <p>

       <!-- Comments -->
       <div class="comment">
         {% include comments.html %}
     <!--  </div>
    </div> -->

</div>